
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}">Find recipe</a>
            <a href="{{ url_for('add_recipe') }}">Add recipe</a>
        </nav>

        <h1>Find recipes</h1>
        <h4>Find recipes based on your ingredients!</h4>
        <form id="search" name="search" action="." method="post">
             <div id="dynamicInput">
                Ingredient 1<br><input type="text" name="ingredient1">
           </div>
           <input type="button" value="Add another ingredient" onClick="addIngredientField('dynamicInput');">
           <br><br>
           <input type="submit" value="Search for recipes">
        </form>
    </body>


    <script>
        var counter = 1;
        var limit = 5;
        function addIngredientField(divName) {
            if (counter == limit)  {
                alert("You have reached the limit of adding " + counter + " inputs");
            }
            else {
                var newdiv = document.createElement('div');
                newdiv.innerHTML = "Ingredient " + (counter + 1) + " <br><input type='text' name='ingredient" + (counter + 1) + "'>";
                document.getElementById(divName).appendChild(newdiv);
                counter++;
            }
        }
    </script>
</html>
