<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    </head>
    <nav>
        <a href="{{ url_for('index') }}">Find recipe</a>
        <a href="{{ url_for('add_recipe') }}">Add recipe</a>
    </nav>
    <br>

    <body>
        {% for title in recipes %}
            <ol>
                <h3>{{title}}</h3>
                <b>Ingredients:</b>
                {% for i in recipes[title] %}
                    {%if not loop.last %}
                    <li id="ingredient">{{i}}</li>
                    {% else %}
                    <br>
                    <b>Instructions:</b> <li id="instruction">{{i}}</li>
                    {% endif %}
                {% endfor %}
            </ol>    
        {% endfor %}
    </body>
</html>